
body {
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 100%);

}

/* Navigation Bar On Top */
.navbar ul{
    list-style-type: none;
    background-color: #88BBD6;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}

body {
    padding-top: 80px;
}

/* Navigation Icons */
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: #99D3Df;
}

/* Spacer to Make Space Between Topics */
.spacer {
    height: 200px;

}

/* Picture of Myself */
.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 29px auto;
    border: 5px solid black;
    border-radius: 50%;
    background-color: black;
}

.placeholder img {
    width: 100%;
    height: 150%;
    object-fit: contain;
}


/* Bio */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: hsl(0, 0%, 100%);


}

/* Education Block */
.education h1 {
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

/* Education Details */
.education p {
    border-style: none;
    background-color: hsl(0, 6%, 87%);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    line-height: 40px;
    font-size: 25px;

}

.degree {
    font-style: italic;
    font-size: 20px;

}

.graduation-date {
    font-size: 15px;
}

/*Project Block */
.projects h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    font-size: 35px;
}

/*To adjust for Mobile Screens */
@media screen and (max-width:768px) {
   
   .navbar ul{

    flex-direction: row;
    justify-content: space-evenly;
   }

   .navbar a {
        padding: 12px;
        font-size: 16px;
   }

}

/* To adjust for tablet Screens */
@media screen and (max-width: 1024px) {
    .navbar ul {
        flex-direction: row;
    }
}

/* Projects Block Cont. */
.projects {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: lightgrey;
    padding: 10;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: outset;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 0;
    background-color: hsl(0, 4%, 90%);
}

.project-item h2 {
    border-style: none;
    margin-bottom: 10px;
    font-size: 22px;
    background-color: hsl(0, 4%, 90%);

}

.project-item p {
    text-align: center;
    font-size: 18px;
    max-width: 90%;
    line-height: 1.5;
}

/* Skill Block */
.skills {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: hsl(0, 4%, 90%);
    margin: 0px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills ul {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    margin: 0;
    padding: 20px;
    border-style: outset;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    width: 50%;
    
}

/* Contact Block/Footer */
.contact {
    background-color: #88BBD6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;

}

.contact h1 {
    font-size: 35;

}

.contact p {
    font-size: 20px;
}

.contact ul {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact ul li {
    margin: 0 15px;
    list-style-type: none;
}

.contact ul li a {
    text-decoration: none;
}

/*Icon Adjusting */
.contact ul li i { 
    font-size: 40px;
    color: black;
    
}

.contact ul li i:hover {
    background-color: #99D3Df;
}