
body {
    margin: 0px;
    background-color: hsl(0, 0%, 100%);

}

.navbar ul{
    list-style-type: none;
    background-color: #88BBD6;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;

}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: #99D3Df;
}

.spacer {
    height: 200px;

}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
    text-align: center;
    border-style: outset;
    border-radius: 10px;
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: hsl(0, 0%, 100%);


}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 70px;

}

.education h1 {
    margin-bottom: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.education p {
    border-style: none;
    background-color: hsl(0, 6%, 87%);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    line-height: 40px;
    font-size: 25px;

}

.degree {
    font-style: italic;
    font-size: 20px;

}

.graduation-date {
    font-size: 15px;
}

.projects h1 {
    text-align: center;
}

@media screen and (max-width:768px) {
   
   .navbar ul{

    flex-direction: row;
    justify-content: space-evenly;
   }

   .navbar a {
        padding: 12px;
        font-size: 16px;
   }
   

@media screen and (max-width: 1024px) {
    .navbar ul {
        flex-direction: row;
    }
}